name: generate_summaries
description: generate a summary from the src-data branch and sync to production
permissions:
  contents: write
  pages: write
  actions: write
  id-token: write
on:
  workflow_dispatch:

jobs:
  gen-summaries:
    runs-on: ubuntu-latest
    steps:

      - name: Get a list of directories with updated files
        id: install-cmipld
        uses: WCRP-CMIP/CMIPLD/actions/cmipld@main
      
      - name: Checkout production branch
        uses: actions/checkout@v4
        with:
          ref: src-data
          fetch-depth: 0
          persist-credentials: true

      - name: generate graph files
        run: |
          for d in */; do ld2graph "${d%/}"; done

      - name: generate the summaries
        run: |
          generate_summary .github/GENERATE_SUMMARY/

      - name: Upload folder as artifact
        uses: actions/upload-artifact@v4
        with:
          name: summaries
          path: .summaries/
          
      
  display-main:
    needs: gen-summaries
    runs-on: ubuntu-latest
    steps:

      - name: Checkout production branch
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
          persist-credentials: true

      - name: remove old summaries
        run: |
          # Extract repo name and convert to lowercase
          REPO_LOWER="${GITHUB_REPOSITORY##*/}"
          REPO_LOWER=$(echo "$REPO_LOWER" | tr '[:upper:]' '[:lower:]')

          # Remove JSON files starting with repo name
          find . -type f -name "${REPO_LOWER}_*.json" -exec rm -v {} \;
        shell: bash

      - name: Download summaries artifact
        uses: actions/download-artifact@v4
        with:
          name: summaries
          path: ./

      - name: Commit and Push Changes
        if: steps.check_changes.outputs.no_changes == 'false'
        uses: EndBug/add-and-commit@v9
        with:
          add: '.'
          author_name: 'cmip-ipo'
          author_email: 'actions@wcrp-cmip.org'
          message: 'Automated summary generate from src-data branch.'
          branch: main
          push: true
          

  # graph:
  #   uses: WCRP-CMIP/CMIPLD/.github/workflows/graph.yml@main
  #   needs: sync
  #   with:
  #     updated: false
    
    
  # publish-pages:
  #   if: always()  # Run even if graph job fails
  #   needs:
  #     - graph
  #   uses: WCRP-CMIP/CMIPLD/.github/workflows/pages.yml@main
  #   with:
  #     branch: production
  #     force: true
  #   secrets:
  #     token: ${{ secrets.GITHUB_TOKEN }}
